fastapi
uvicorn[standard]
langchain
langgraph
langchain-openai
sqlalchemy
psycopg[binary]
pydantic
pydantic-settings
python-dotenv
python-multipart
streamlit
requests
pgvector
sentence-transformers
sentence-transformers
